<h1>Events</h1>

<%if current_user%>
  <p>Salut <%= current_user.first_name %>, ton email <%= current_user.email %> </p>
<%end%>

<div>
  <a class="nav-link btn btn-primary"" href=<%= new_event_path %>>Click ici pour créer un événement</a><br>
</div>

<div class="row">
  <% Event.all.sort.each_with_index do |event, index|  %>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.admin.first_name %></p>
          <%= link_to "event n°#{event.id}", event_path(event.id), class:"btn btn-primary" %>
        </div>
      </div>
      <br/>
    </div>
  <% end %>

</div>
